body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.cc {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid beige;
}

.cc ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cc a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bb {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.xx {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 5px 4px 10px rgb(197, 152, 67) ;
}

.xx label {
    display: block;
    margin-top: 10px;
}

.xx input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

.xx button {
    margin-top: 15px;
    padding: 6px 15px;
    border: none;
    background-color: rgb(90, 156, 241);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(157, 200, 224);
}
