.a{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px black;
    background-color: aqua;
     position: relative;


}
.b{
    position: absolute;
    border: 2px solid black;
    box-shadow: 3px 3px 4px black;
    width: 100px;
    height: 100px;
    top: 60px;
    left: 10px;
}