.a{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px black;
    background-color: aqua;

}
.b{
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}
.c{
    padding: 2px;
}