.box{
    background-color: steelblue;
    color: aliceblue;
    width: 600px;
    height: 500px;
    padding: 50px  50px  50px  50px;
    border: 5px  solid black;
    border-radius: 10%;
}
.box2{
    
    background-color: steelblue;
    color: aliceblue;
    width: 600px;
    height: 500px;
    padding: 50px  50px  50px  50px;
    border: 5px  solid black;
    border-radius: 10%;
}
