p {
    color: black                        ;
}

p::before {
    content: "★";
}

p::after {
    content: "★";
}

a:link {
    color: brown;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}