body {
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    height: 300px;
    display: flex;
    margin: 100px;
}

.Formm {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    margin: auto;
}

 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

 button {
    width: 100%;
    padding: 10px;
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 button:hover {
    background-color: #483d8b;
}

