body {
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    height: 300px;
    display: flex;
    margin: 600px;
}

.form-container {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #483d8b;
}

